VITE_INFURA_RPC='https://aia-dataseed1-testnet.aiachain.org'
VITE_WSS_RPC_URL='wss://base-sepolia-rpc.publicnode.com'
VITE_PROJECT_ID = "30d7a5daa985d96740d365163c2793e0" 
VITE_GREENTOKEN_ADDRESS = "0x98E875e7330A85F1D6C45B2A2b06d8d30ba4bEa9"
VITE_GREENEARN_ADDRESS = "0xe5922321678CfF0568E508b84eFc846D23112877"
VITE_GREENMINT_ADDRESS = "0x7bc0450B2A464Aa89fFa0F51C7e69ffEdCb9dF60"
VITE_PINATA_API_KEY = ''
VITE_PINATA_API_SECRET = ""
VITE_PINATA_JWT = ""
VITE_GATEWAY_URL = ""
